.button {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  background: #65aaac;
  font-weight: 800;
  padding: 0 12px;
  color: #272727;
  border-radius: 2px;

  &:hover {
    background: lighten(#65aaac, 10%);
  }

  &:active {
    @include transform(translateY(1px));
  }
}

button.button,
input[type="submit"].button {
  border: none;
  outline: none;
  @include appearance(none);
  @extend %font-smoothing;
}

.button--tableaction {
  @extend .button;
  @include font-size(12px);
  text-transform: uppercase;
  display: inline-block;
}

.button--tableaction-destructive {
  @extend .button--tableaction;
  background: #ca3b3e;
  color: #fff;

  &:hover {
    background: darken(#ca3b3e, 10%);
  }
}

form.button_to {
  display: inline-block;
  div { display: inline-block; }
}
