{{#modal-dialog action="close" change="modalChange" background="over" class="is-over"}}
  <div class="l-digitize-modal">
    <div class="l-digitize-modal-options">
      <a class="digitize-modal-option" href="javascript:void(0);">Digitize your notebook</a>
      <hr/>
      <!-- TODO: Implement a route that redirects to the shopify page. -->
      <a class="digitize-modal-option" href="/order">Order a new notebook</a>
    </div>
  </div>
{{/modal-dialog}}
