{{#modal-dialog close="close" digitize="digitize" change="modalChange" background="over" class="is-over"}}
  <div class="l-digitize-modal">
    <div class="l-digitize-modal-options">
      <a class="digitize-modal-option" href="javascript:void(0);" {{action 'doAction' 'digitize' target="view"}}>
        Digitize your notebook<i class="i-chevron-right-small"></i>
      </a>
      <hr/>
      <!-- TODO: Implement a route that redirects to the shopify page. -->
      <a class="digitize-modal-option" href="/order">
        Order a new notebook<i class="i-chevron-right-small"></i>
      </a>
    </div>
  </div>
{{/modal-dialog}}
