<div class="l-guest-header-left">
  <a class="l-guest-header-back" href="http://modnotebooks.com"><i class="i-chevron-left-xsmall"></i> Back to store</a>
</div>
<div class="l-guest-header-right">
  <span class="hidden-inline-xs">Not a member?</span> {{#link-to 'signup' class="button--guest"}}Sign Up{{/link-to}}
</div>
