<header class="l-guest-header">
  {{ outlet header }}
</header>
<section class="l-guest-content">
  <div class="l-guest-innercontent">
    {{#link-to 'main.index' class="logo--guest"}}{{/link-to}}
    {{ outlet }}
  </div>
</main>
