<header class="l-guest-header">
  {{ outlet header }}
</header>
<section class="l-guest-content">
  <div class="l-guest-logowrap">
    {{#link-to 'main.index' class="logo--guest"}}{{/link-to}}
  </div>
  <div class="l-guest-innercontent">
    {{ outlet }}
  </div>
</main>
