<section class="l-notebooks">
  <div class="l-notebooks-wrap">

    {{#view App.GridLayoutView}}
      <div class="l-grid-item--page js-grid-item">
        {{#link-to 'notebooks' class="notebook" classNameBindings="color"}}
          {{partial 'partials/notebook'}}
        {{/link-to}}
      </div>
      {{#each pages}}
        <div class="l-grid-item--page js-grid-item">
          {{#view App.GridPageView contentBinding="this"}}
            {{#link-to 'viewer.pages' notebook.id this class="page--grid" classNameBindings="view.isLoading view.isError"}}
              <img {{bind-attr src="image.small"}} class="page__image">
            {{/link-to}}
          {{/view}}
        </div>
      {{/each}}
    {{/view}}

  </div>
</section>
