<section class="l-notebook">
  <div class="l-notebook-wrap">

    <div class="l-notebook-list">
      <div class="l-notebook-listitem">
        <div {{bind-attr class=":notebook color"}}>
          {{partial 'partials/notebook'}}
        </div>
      </div>
      {{#each pages}}
        <div class="l-notebook-listitem">
          {{#view App.GridPageView contentBinding="this"}}
            {{#link-to 'pages.show' notebook this class="page--grid" classNameBindings="view.isLoading view.isError"}}
              <img {{bind-attr src="image.small"}} class="page__image">
            {{/link-to}}
          {{/view}}
        </div>
      {{/each}}
    </div>

  </div>
</section>
