<section class="l-notebooks">
  <div class="l-notebooks-wrap">

    {{#view App.GridLayoutView}}
      <div class="l-grid-item--notebook js-grid-item">
        <a href="javascript:void(0);" {{action 'openModal' 'digitize-modal'}} class="notebook--standin">
          <span class="notebook--standin__plus"></span>
        </a>
      </div>
      {{#each arrangedContent}}
        <div class="l-grid-item--notebook js-grid-item">
          {{#link-to 'notebook' this class="notebook" classNameBindings="color" disabled=unavailable}}
            {{partial 'partials/notebook'}}
          {{/link-to}}
        </div>
      {{/each}}
    {{/view}}

  </div>
</section>
