<form class="l-guest-form form">
  {{#if formErrorMessage }}
    <span class="form__error">{{formErrorMessage}}</span>
  {{/if}}
  <div class="form__control flush">
    {{input type="text" value=emailAddress placeholder='Email Address'}}
  </div>
  <div class="form__actions">
    {{spin-button isLoading=isLoading buttonText="Reset Password" action="resetPassword" buttonClass="button--medium" }}
  </div>
</form>
