<div class="l-viewer">
  <div class="l-viewer-inner">
    {{outlet}}
  </div>
</div>
{{!-- <nav class="viewer__nav">
  <ul class="viewer__navlist">
    <li class="viewer__navitem--prev">
      <a href="javascript:void(0)" {{action 'previous'}}>
        <i class="i-chevron-left-dark"></i>
      </a>
    </li>
    <li class="viewer__navitem--back">
      {{#link-to 'notebook' notebook}}
        <i class="i-grid-dark"></i>
      {{/link-to}}
    </li>
    <li class="viewer__navitem--next">
      <a href="javascript:void(0)" {{action 'next'}}>
        <i class="i-chevron-right-dark"></i>
      </a>
    </li>
  </ul>
</nav> --}}
