<form class="form">
  <div class="form__control">
    {{input type="text" value="" placeholder="Full Name"}}
  </div>
  <div class="form__actions">
    {{spin-button isLoading=isLoading buttonText="Save" action="save" buttonClass="button--medium"}}
  </div>
</form>

