{{#each}}
<div class="l-sync-service">
  <div class="l-sync-service-left">&#10003;</div>
  <div class="l-sync-service-center">{{unbound name}}</div>
  <div class="l-sync-service-right">
    {{input type="checkbox" name="isEnabled" class="switch" id=name checked=isEnabled}}
    <label class="switch" for="{{unbound name}}"></label>
  </div>
</div>
{{/each}}
