<html>
<head></head>
<body>
  <script>
    try {
      window.opener.Core.ServiceConnector.serviceConnectionFailed(<%= raw @error_hash.to_json %>);
    } catch(e) { window.opener.console.error(e); }
    finally { window.close(); }
  </script>
</body>
</html>
