<div class="modal">
  <a href="javascript:void(0);" {{action 'close'}} class="modal__close"></a>
  <div class="modal__content">
    {{yield}}
  </div>
</div>
<div {{bind-attr class="backgroundClass"}}></div>
