<button {{bind-attr id=id class="buttonClass isEnabled::is-disabled"}} {{action 'showLoading'}}>
  {{#if isLoading}}
    <div class="spinner--button">
      <div class="spinner__icon"></div>
    </div>
  {{else}}
    {{buttonText}}
  {{/if}}
</button>
