<aside class="l-settings-menu">
  <nav class="settingsnav">
    <ul class="settingsnav__list">
      <li class="setttingsnav__item">
        {{#link-to 'settings.account' class="settingsnav__link"}}
          <div class="settingsnav__linkicon">
            <i class="i-settings-account"></i>
          </div>
          <div class="settingsnav__linklabel">Account</div>
        {{/link-to}}
      </li>
      <li class="setttingsnav__item">
        {{#link-to 'settings.address' class="settingsnav__link"}}
          <div class="settingsnav__linkicon">
            <i class="i-settings-address"></i>
          </div>
          <div class="settingsnav__linklabel">Shipping Address</div>
        {{/link-to}}
      </li>
      <li class="setttingsnav__item">
        {{#link-to 'settings.sync' class="settingsnav__link"}}
          <div class="settingsnav__linkicon">
            <i class="i-settings-sync"></i>
          </div>
          <div class="settingsnav__linklabel">Sync</div>
        {{/link-to}}
      </li>
      <li class="setttingsnav__item">
        <a {{ action 'logout' }} class="settingsnav__link">
          <div class="settingsnav__linkicon">
            <i class="i-settings-logout"></i>
          </div>
          <div class="settingsnav__linklabel">Logout</div>
        </a>
      </li>
    </ul>
  </nav>
</aside>
<section class="l-settings-content">
  <div class="l-settings-pane">
    {{outlet}}
  </div>
</section>
