<section class="l-viewer">
  <div class="l-viewer-inner">
    <div class="viewer">
      <div class="viewer__panes">
        <div class="viewer__pane--right">
          <img class="viewer__image" src="http://f.cl.ly/items/3D1f0H460D0H28371h3Q/9ea6b6b6-6887-4bd0-a9d7-9824ec9d37ef.png">
        </div>
        <div class="viewer__pane--left">
          <img class="viewer__image" src="http://f.cl.ly/items/3D1f0H460D0H28371h3Q/9ea6b6b6-6887-4bd0-a9d7-9824ec9d37ef.png">
        </div>
      </div>
    </div>
  </div>
</section>
