<form class="upload-form js-pdf-upload" method="POST" enctype="multipart/form-data">
<!--   <div class="upload-form__part"> -->
<!--     <input type="text" class="upload-form__code" name="notebook[notebook_identifier]" placeholder="Notebook Code"> -->
<!--   </div> -->
  <div class="upload-form__filewrap">
    <span class="upload-form__fakefile">Select a file</span>
    <input type="file" name="file" accept="application/pdf"/>
  </div>
</form>
