<% content_for(:header) do %>
  <% form_tag partner_notebooks_path, method: 'get', html: { class: 'searchform' } do |f| %>
    <%= text_field_tag :q, params[:q], placeholder: "Search", class: "searchform__input" %>
    <button class="searchform__button">GO</button>
  <% end %>
<% end %>

<div class="l-notebooks">
  <table class="data-table">
    <thead class="data-table__head">
      <tr class="data-table__row">
        <th class="data-table__heading">ID</th>
        <th class="data-table__heading">User</th>
        <th class="data-table__heading">Identifier</th>
        <th class="data-table__heading">Status</th>
        <th class="data-table__heading">Status Date</th>
      </tr>
    </thead>
    <tbody>
      <%= render @notebooks %>
    </tbody>
  </table>
</div>

<%= paginate @notebooks %>
