<!DOCTYPE html>
<html>
<head>
  <title>Mod</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "http://fast.fonts.net/cssapi/e792a0f8-7d5f-454a-83f8-cfc683cc5a2e.css" %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="asleep">
  <div style="padding: 100px;">

    <p>
      <div class="notebook">
        <div class="notebook__sleevewrap">
          <div class="notebook__sleeve">
            <h2 class="notebook__title">Sketches</h2>
            <span class="notebook__status">Scanning</span>
          </div>
        </div>
      </div>
    </p>

    <hr/>

    <p>
      <a href="#" class="button">Button</a>
      <a href="#" class="button--outline">Button</a>
    </p>

    <hr/>

    <p>
      <a href="#" class="logo"></a>
    </p>

    <hr/>

    <form  class="form" style="max-width: 500px;">
      <div class="form__control">
        <input type="text" placeholder="Email">
        <!-- <span class="form__error">I am an error</span> -->
      </div>
      <div class="form__control">
        <input type="text" placeholder="Email">
        <!-- <span class="form__input__error">I am an error</span> -->
      </div>
      <div class="form__control--half">
        <input type="text" placeholder="Email">
      </div>
      <div class="form__control--half is-error">
        <input type="text" placeholder="Email">
        <span class="form__error">I am an error that is multi-line and very very long</span>
      </div>
      <div class="clearfix"></div>
      <div class="form__control">
        <input type="text" placeholder="Email">
      </div>
      <div class="form__actions">
        <button type="submit" class="button--medium">Save</button>
      </div>
    </form>

    <hr/>

    <form  class="form is-error" style="max-width: 300px;">
      <span class="form__error">Invalid email or password</span>
      <div class="form__control flush">
        <input type="text" placeholder="Email">
      </div>
      <div class="form__control flush">
        <input type="password" placeholder="Password">
        <a href="#" class="form__input__altaction">?</a>
      </div>
      <div class="form__actions">
        <button type="submit" class="button--medium">Save</button>
      </div>
    </form>

  </div>
</body>
</html>
