<!DOCTYPE html>
<html>
<head>
  <title>Mod</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "http://fast.fonts.net/cssapi/e792a0f8-7d5f-454a-83f8-cfc683cc5a2e.css" %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="asleep">

<main class="l-app-main">
  <header class="l-app-header">
    <div class="l-app-logo">
      <a class="logo--app" href="/"></a>
    </div>
    <nav class="l-app-nav">
      nav
    </nav>
  </header>
  <section class="l-app-content">
    <div class="l-app-innercontent">
      Inner
    </div>
  </section>
<!--
  <header class="l-guest-header">
    <div class="l-guest-headerinner">
      Guest Header
    </div>
  </header>
  <section class="l-guest-content">
    <div class="l-guest-innercontent">
      <a class="logo--guest" href="#"></a>
      <form class="l-guest-form clearform">
        <hr/>
        <input type="text" placeholder="Email"/>
        <hr/>
        <input type="text" placeholder="Password"/>
        <button class="clearform__button">Login</button>
      </form>
    </div>
  </section> -->
</main>

</body>
</html>
