<div class="modal" {{action "close"}}>
  <div class="modal__content" {{action bubbles=false}}>
    <section class="l-settings">
      <aside class="l-settings-menu">
        <nav class="settingsnav">
          <ul class="settingsnav__list">
            <li class="setttingsnav__item">
              <a href="javascript:void(0);" class="settingsnav__link">
                <div class="settingsnav__linkicon">
                  <i class="i-settings-account"></i>
                </div>
                <div class="settingsnav__linklabel">Account</div>
              </a>
            </li>
            <li class="setttingsnav__item">
              <a href="javascript:void(0);" class="settingsnav__link">
                <div class="settingsnav__linkicon">
                  <i class="i-settings-address"></i>
                </div>
                <div class="settingsnav__linklabel">Shipping Address</div>
              </a>
            </li>
            <li class="setttingsnav__item">
              <a href="javascript:void(0);" class="settingsnav__link">
                <div class="settingsnav__linkicon">
                  <i class="i-settings-sync"></i>
                </div>
                <div class="settingsnav__linklabel">Sync</div>
              </a>
            </li>
            <li class="setttingsnav__item">
              <a href="javascript:void(0);" class="settingsnav__link is-active">
                <div class="settingsnav__linkicon">
                  <i class="i-settings-logout"></i>
                </div>
                <div class="settingsnav__linklabel">Logout</div>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
      <section class="l-settings-content">
        <div class="l-settings-pane">
          <form>
            <div class="form__control">
              <input type="text" placeholder="Full Name">
            </div>
            <div class="form__control">
              <input type="text" placeholder="Address">
            </div>
            <div class="form__control--twothird">
              <input type="text" placeholder="State">
            </div>
            <div class="form__control--onethird">
              <input type="text" placeholder="Postal Code">
            </div>
            <div class="clearfix"></div>
            <div class="form__control">
              <input type="text" placeholder="Country">
            </div>
            <div class="form__actions">
              <button type="submit" class="button--medium">Save</button>
            </div>
          </form>
        </div>
      </section>
    </section>
  </div>
</div>
