<div class="viewer">
  <div class="viewer__page--left">
    <img class="viewer__page__image" src="http://f.cl.ly/items/3D1f0H460D0H28371h3Q/9ea6b6b6-6887-4bd0-a9d7-9824ec9d37ef.png">
  </div>
  <div class="viewer__page--right">
    <img class="viewer__page__image" src="http://f.cl.ly/items/3D1f0H460D0H28371h3Q/9ea6b6b6-6887-4bd0-a9d7-9824ec9d37ef.png">
  </div>
  <nav class="viewer__nav">
    <ul class="viewer__navlist">
      <li class="viewer__navitem--prev">
        <a href="javascript:void(0)">Prev</a>
      </li>
      <li class="viewer__navitem--back">
        <a href="javascript:void(0)">Back</a>
      </li>
      <li class="viewer__navitem--next">
        <a href="javascript:void(0)">Next</a>
      </li>
    </ul>
  </nav>
</div>
