*:after, *:before { @include box-sizing(border-box); }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
  background: none;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size:   $base-font-size;
  line-height: $base-line-height;
  color:       #fff;
  text-rendering: optimizeLegibility;
  @include font-smoothing;
  background-color: $color-partner-background;
}

.logo {
  display: block;
  width: 35px;
  height: 44px;
  @include retina-image('partner-logo', 35px 44px, $asset-pipeline: true);
  margin: 0 6px;
}

::selection {
  color: #fff;
  background: #62a7a9;
}

::-moz-selection {
  color: #fff;
  background: #62a7a9;
}

a {
  text-decoration: underline;
  color: #65aaac;
}
