.l-app-main {
  height: 100%;
}

.l-app-header {
  background: green;
  padding: 15px;
  display: table;
  width: 100%;

  @include media($screen-br-md) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 110px;
    padding: 30px 0;
    text-align: center;
  }
}

.l-app-logo {
  display: table-cell;
  vertical-align: middle;

  @include media($screen-br-md) {
    display: block;
  }
}

.l-app-nav {
  display: table-cell;
  vertical-align: middle;
  text-align: right;

  @include media($screen-br-md) {
    text-align: center;
    display: block;
    position: absolute;
    bottom: 30px;
    background: pink;
    width: 100%;
  }
}

.l-app-content {
  background: red;

  @include media($screen-br-md) {
    padding-left: 110px;
    height: 100%;
    width: 100%;
    display: table;
  }
}

.l-app-innercontent {
  display: table-cell;
  vertical-align: middle;
}
