.l-app-main {
  min-height: 100%;
}

.l-app-header {
  display: inline-block;
  padding: 30px;
  // background: blue;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-app-header;
}

.l-app-footer {
  display: inline-block;
  padding: 30px;
  // background: blue;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $zindex-app-header;
}

.l-app-logo {
  display: table-cell;
  vertical-align: middle;

  @include media($screen-br-md) { display: block; }
}

.l-app-nav {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

.l-app-content {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  padding-left: 122px;
  display: table;
  z-index: $zindex-app-content;
}

.l-app-innercontent {

}
