.l-digitize-modal {
  text-align: center;
}

.l-digitize-modal-options {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 360px;
}

.digitize-modal-option {
  @include font-size(21px);
  color: #fff;
  padding: 0 6px;
  width: 100%;
  display: inline-block;
  text-align: left;
  position: relative;

  & + hr {
    border-color: rgba(#fff, .18);
    margin: 35px 0;
  }

  i {
    position: absolute;
    right: 6px;
    top: 5px;
  }
}
