.l-guest-main {
  width: 100%;

  @include with-flex {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    min-height: 100vh;
  }

  @include with-no-flex {
    height: 100%;
    background: red;
  }
}

.l-guest-header {
  padding: 13px 17px;
  background: blue;
  width: 100%;

  @include with-flex {
    @include display(flex);
    @include align-items(center);
  }

  @include media($screen-br-sm) {
    padding: 17px 24px;
  }

  @include with-no-flex {
    display: table;
  }
}

.l-guest-header-left,
.l-guest-header-right {
  @include with-flex {
    @include flex(1);
  }

  @include with-no-flex {
    display: table-cell;
    vertical-align: middle;
  }
}

.l-guest-header-right {
  text-align: right;
  .button { margin-left: 16px; }
}

.l-guest-header-left {
  padding-right: 0;
}

.l-guest-header-back {
  color: #fff;
  @include font-size(15px);

  i {
    margin-right: 12px;
    position: relative;
    top: -2px;
  }
}

.l-guest-content {
  text-align: center;
  width: 100%;

  @include with-flex {
    @include flex(1);
    @include flex-direction(column);
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
  }

  @include with-no-flex {
    position: absolute;
    background: green;
    height: auto;
    bottom: 0;
    top: 68px;
    width: 100%;

    @include media($screen-br-sm) {
      top: 76px;
    }
  }
}

.l-guest-logowrap {
  @include with-flex {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    padding-bottom: 120px;

    @include media(max-width $screen-sm-max) {
      @include flex(1);
      padding-bottom: 0;
      min-height: 160px;
    }
  }

  @include with-no-flex {
    margin: 80px 0;
    @include media($screen-br-sm) {
      margin: 116px 0;
    }
  }
}

.l-guest-innercontent {
  width: 100%;

  @include media($screen-br-sm) {
    max-width: 280px;
    margin: 0 auto;
  }
}

.l-guest-extra-links {
  @include font-size(14px);
  margin: 14px 0;
}
