.l-grid-wrap { max-width: 100%; }

.l-grid {
  display: inline-block;
  text-align: left;
  vertical-align: middle;

  @include media(max-width 320px) {
    width: 100% !important;
    padding: 0 23px;
  }
}

.l-grid-item {
  display: inline-block;
  text-align: left;
  position: relative;

  @include media(max-width 320px) {
    display: block;
    float: left;
  }
}

.l-grid-item--notebook {
  @extend .l-grid-item;
  padding-right: 20px;
  margin-bottom: 20px;

  @include media(max-width 320px) {
    padding-right: 24px
  }

  @include media($screen-br-md) {
    padding-right: 60px;
    margin-bottom: 60px;
  }
}

.l-grid-item--page {
  @extend .l-grid-item;
  padding-right: 20px;
  margin-bottom: 20px;

  @include media(max-width 320px) {
    padding-right: 24px
  }

  @include media($screen-br-md) {
    padding-right: 44px;
    margin-bottom: 44px;
  }
}
