.l-guest-main {
  min-height: 100%;
}

.l-guest-header {
  width: 100%;
  display: table;
  padding: 16px 24px;
  position: relative;
  z-index: $zindex-guest-header;
}

.l-guest-header-left,
.l-guest-header-right {
  display: table-cell;
  vertical-align: middle;
}

.l-guest-header-right {
  text-align: right;

  .button { margin-left: 40px; }
}

.l-guest-header-back {
  color: #fff;
  @include font-size(15px);

  i {
    margin-right: 12px;
    position: relative;
    top: -2px;
  }
}

.l-guest-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: table;
  padding: 130px 0 0;
  z-index: $zindex-guest-content;

  @include media($screen-br-sm) {
    padding-bottom: 120px;
  }
}

.l-guest-innercontent {
  display: table-cell;
  vertical-align: bottom;
  text-align: center;

  @include media($screen-br-sm) {
    vertical-align: middle;
  }
}

.l-guest-form {
  max-width: 100%;
  margin: 100px auto 0 auto;

  @include media($screen-br-sm) {
    max-width: 300px;
  }
}
