.l-notebooks {
  width: 100%;
  height: 100%;
  padding: 100px 85px 100px 0;

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -1em; /* Adjusts for spacing */
  }
}

.l-notebooks-wrap {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
