.l-notebooks {
  display: table-cell;
  vertical-align: middle;
}

.l-notebooks-list {
  width: 100%;
  padding: 0 200px 0 100px;
}

.l-notebooks-listitem {
  display: inline-block;
  margin-right: 60px;
  margin-bottom: 60px;

  &:last-of-type {
    margin-right: 0;
  }
}
