.l-notebook {
  text-align: center;
  padding: 108px 50px;
}

.l-notebook-list {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.l-notebook-listitem {
  display: inline-block;
  margin-right: 44px;
  margin-bottom: 44px;

  &:last-of-type { margin-right: 0; }
}
