.l-notebooks {
  background: purple;
  padding: 20px 0;

  @include with-flex {
    @include display(flex);
    @include align-items(center);

    @include media($screen-br-md) {
      min-height: 100vh;
    }
  }

  @include with-no-flex {
    height: 100%;

    @include media($screen-br-md) {
      &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -1em; /* Adjusts for spacing */
      }
    }
  }

  @include media($screen-br-md) {
    padding: 40px;
    background: red;
  }
}

.l-notebooks-wrap {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  background: orange;
  text-align: center;
}
