<form class="l-guest-form form">
  {{#if loginErrorMessage }}
    <span class="form__error">{{loginErrorMessage}}</span>
  {{/if}}
  <div class="form__control">
    {{input type="email" valueBinding="identification" class="form__control__input"}}
    <label class="form__control__label">Email Address</label>
  </div>
  <div class="form__control">
    {{input type="password" valueBinding="password" class="form__control__input"}}
    <label class="form__control__label">Password</label>
    <a href="/users/password/new" class="form__control__altaction">?</a>
  </div>
  <div class="form__actions">
    {{spin-button isLoading=isLoading buttonText=buttonText action="authenticate" buttonClass="button--form" }}
  </div>
</form>
