<header class="l-header">
  <div class="l-header-logo">
    <a href="/">Logo</a>
  </div>
  <div class="l-header-body">
    <%= yield(:header) %>
  </div>
  <div class="l-header-button">Upload</div>
  <div class="l-header-button">Logout</div>
</header>
