*:after, *:before { @include box-sizing(border-box); }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
  background: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size:   $base-font-size;
  line-height: $base-line-height;
  color:       $base-text-color;
  text-rendering: optimizeLegibility;
  @include font-smoothing;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include transition(all 300ms ease-in-out);

  @include media(max-width 320px) {
    background-attachment: scroll;
  }

  background-color: #94b6b8;
  @include background-image(linear-gradient(145deg, #385158 12%, #99bcbe 72%));

  &.dark {
    background-color: #465d60;
    @include background-image(linear-gradient(145deg, #233236 12%, #658d8f 72%));
  }
}

.clearfix { @include clearfix; }

#main, #main main { height: 100%; }

a {
  outline: none;
  text-decoration: none;
  color: #fff;
}


hr {
  border: none;
  outline: none;
  border-top: 1px solid;
}
