fieldset {
  margin: 0 0 ($base-line-height / 2) 0;
  padding: $base-line-height;
}

#{$all-text-inputs} {
  @extend %font-smoothing;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

label {
  font-weight: bold;
  margin-bottom: $base-line-height / 4;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height / 4;
}

input[type="file"] {
  width: 100%;
}

select {
  width: auto;
  margin-bottom: $base-line-height;
}

button,
input[type="submit"] {
  @extend .button;
  @include appearance(none);
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.clearform {
  #{$all-text-inputs} {
    @include appearance(none);
    border: none;
    width: 100%;
    display: block;
    padding: 26px 2px;
    background: none;
    color: #DFE2E2;

    @include placeholder {
      color: #9EB4B6;
    }
  }

  #{$all-text-inputs-focus} {
    outline: none;
  }

  hr {
    outline: none;
    margin: 0;
    border: none;
    border-top: 1px solid rgba(#fff, 0.12);
  }
}

button.clearform__button,
.clearform__button button {
  display: block;
  width: 100%;
  @extend .button;
  @extend .button--medium;
  margin-top: 20px;
}
