@import "compass/utilities/sprites";
@import "compass/css3/background-size";

$sprites: sprite-map("icons/*.png", $spacing: 2px);
$sprites2x: sprite-map("icons-2x/*.png", $spacing: 2px);

@mixin icon($name, $images: $sprites) {
  @include sprite-dimensions($images, $name);
  background-position: sprite-position($images, $name);
}

@mixin icon-with-retina($name, $images: $sprites, $retinaimages: $sprites2x) {
  @include icon($name, $images);

  @include hidpi {
    $pos: sprite-position($retinaimages, $name);
    background-position: nth($pos, 1) / 2 nth($pos, 2) / 2;
    @include background-size(ceil(image-width(sprite-path($retinaimages)) / 2) auto);
  }
}

.i-base {
  background-image: sprite-url($sprites);
  background-repeat: no-repeat;

  @include hidpi {
    background-image: sprite-url($sprites2x);
  }
}

i[class^="i-"] {
  @extend .i-base;
  display: inline-block;
  vertical-align: middle;
}

.i-settings-account    { @include icon-with-retina(icon-settings-account); }
.i-settings-address    { @include icon-with-retina(icon-settings-address); }
.i-settings-sync       { @include icon-with-retina(icon-settings-sync); }
.i-settings-logout     { @include icon-with-retina(icon-settings-logout); }
.i-dropbox-white       { @include icon-with-retina(icon-dropbox-white); }
.i-evernote-white      { @include icon-with-retina(icon-evernote-white); }
.i-live_connect-white  { @include icon-with-retina(icon-onenote-white); }
.i-chevron-left        { @include icon-with-retina(icon-chevron-left); }
.i-chevron-left-dark   { @include icon-with-retina(icon-chevron-left-dark); }
.i-chevron-right-dark  { @include icon-with-retina(icon-chevron-right-dark); }
.i-chevron-right-small { @include icon-with-retina(icon-chevron-right-small); }
.i-chevron-left-xsmall { @include icon-with-retina(icon-chevron-left-xsmall); }
.i-grid-light          { @include icon-with-retina(icon-grid-light); }
.i-grid-dark           { @include icon-with-retina(icon-grid-dark); }
.i-close               { @include icon-with-retina(icon-close); }
