<div class="notebook__inner">
  <div class="notebook__sleevewrap">
    <div class="notebook__sleeve">
      <h2 class="notebook__title">
        {{#if name}}
          {{name}}
        {{else}}
          Untitled
        {{/if}}
      </h2>
      <span class="notebook__status">{{humanize currState}}</span>
    </div>
  </div>
</div>
