.button {
  display: inline-block;
  vertical-align: middle;
  @include font-size(15px);
  text-decoration: none;
  background: rgba(#fff, .5);
  border: none;
  outline: none;
  padding: 4px 23px;
  color: #466265;
  position: relative;
  border-radius: 3px;
  @include transition(150ms ease);
  @include box-sizing(border-box);

  &:hover  { background: rgba(#fff, .8); }
  &:active {
    background: rgba(#000, .2);
    @include transform(translateY(1px));
  }
  &.is-disabled {
    opacity: .2;
    pointer-events: none;
  }

  @include media($screen-br-sm) {
    border-radius: 3px;
  }
}

.button--form {
  @extend .button;
  width: 100%;
  @include font-size(17px);
  font-weight: 400;
  padding: 20px;
  border-radius: 0;

  @include media($screen-br-sm) {
    padding: 8px 23px;
    border-radius: 3px;
  }
}

.button--guest {
  @extend .button;
  color: rgba(#fff, .8);
  font-weight: 800;
  border: 2px solid rgba(#fff, .5);
  background: none;

  &:hover {
    border-color: rgba(#fff, 0);
    background: rgba(#fff, .8);
    color: #4f696b;
  }

  &:active {
    background: rgba(#000, .2);
  }
}

.button--text {
  display: inline-block;
  vertical-align: middle;
  @include appearance(none);
  background: none;
  color: #fff;
  @include font-size(17px);
  font-weight: 700;
}
