.logo {
  $size: 50px 60px;
  display: inline-block;
  vertical-align: bottom;
  background-repeat: no-repeat;
  @include size($size);
  @include retina-image("logo-small", $size, $asset-pipeline: true);
}

.logo--app {
  @extend .logo;
}

.logo--guest {
  display: inline-block;
  $size: 64px 77px;
  @include size($size);
  @include retina-image("logo", $size, $asset-pipeline: true);
}
