.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #465d60;
  @include background-image(linear-gradient(145deg, #233236 12%, #658d8f 72%));
  background-attachment: fixed;
  z-index: $zindex-modal-background;
  @include transition(opacity 500ms $ease-in-out-circ, height 0 500ms);
  height: 0;
  opacity: 0;

  &.is-visible,
  .is-visible & {
    height: 100%;
    opacity: .98;
    @include transition(opacity 500ms $ease-in-out-circ, height 0);
  }
}

.modal-background--settings {
  @extend .modal-background;
}

// Display over the logo and settings menu
.modal-background--over {
  @extend .modal-background;
  z-index: $zindex-modal-background-over;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  z-index: $zindex-modal;
  overflow-x: auto;
  overflow-y: scroll;

  @include transition(all 500ms $ease-in-out-circ);
  opacity: 0;
  @include transform(translateY(20px));


  &.is-visible,
  .is-visible & {
    opacity: 1;
    @include transform(translateY(0px));
  }

  .is-over & {
    z-index: $zindex-modal-over;
  }
}

.modal__close {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: $zindex-modal-close;

  .is-over & {
    z-index: $zindex-modal-close-over;
  }

  @include media($screen-br-sm) {
    top: 0;
    bottom: 0;
    right: 0;
    left: 40px;
    margin: auto 0;
  }
}

.modal__content {
  vertical-align: middle;
  display: table-cell;
}
