.settingsnav {
  color: rgba(255, 255, 255, .2);
  @include font-size(16px);
}

.settingsnav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.settingsnav__link {
  color: inherit;
  text-decoration: none;

  @include media($screen-br-sm) {
    @include with-flex {
      @include display(flex);
      @include flex-direction(row);
      @include align-items(center);
    }

    @include with-no-flex {
      display: table;
    }
  }

  &:hover, &:active, &.is-active {
    color: #fff;
  }
}

.settingsnav__linkicon,
.settingsnav__linklabel {
  @include media($screen-br-sm) {
    @include with-no-flex {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.settingsnav__linkicon {
  text-align: center;
  padding-right: 24px;
  width: 100px;

  i { opacity: .2; }

  .settingsnav__link:hover &,
  .settingsnav__link:active &,
  .settingsnav__link.is-active & {
    i { opacity: 1; }
  }
}

.settingsnav__linklabel {
  padding: 24px 24px 24px 0;
  border-bottom: 1px solid rgba(255, 255, 255, .05);
  border-color: red;
  width: 100%;

  .setttingsnav__item:last-of-type & { border-bottom: none; }
}
