.touchviewer {
  background: #fff;
}

.touchviewer__pages {
  overflow: hidden;
  position: relative;
}

.touchviewer__panewrap {
  overflow: hidden;
  position: relative;
  text-align: center;
}

.touchviewer__pane {
  float:left;
  width:100%;
  position: relative;
  background: #fff;
  height: 100vh;
}

.touchviewer__pane__image {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  position: relative;
  top: -1px;

  opacity: 1;
  @include backface-visibility(hidden);
  @include transition(opacity 300ms ease-out);
  &.is-loading { opacity: 0; }
}

.touchviewer__pane__image + .touchviewer__pane__image {
  margin-left: -.5em;
}

.touchviewer__nav {
  width: 100%;
  background: rgba(#fff, .95);

  @include with-flex {
    @include display(flex);
    @include flex-direction(row);
    @include align-content(center);
  }

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.touchviewer__navitem {
  display: block;
  padding: 22px 30px;
  text-align: center;
  color: #7b7b70;
  opacity: .5;

  @include with-flex {
    @include flex(1);
  }
}

.touchviewer__navitem--middle {
  @extend .touchviewer__navitem;
  margin: 0 12px;
}
