.viewer {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  @include clearfix;
  border: 1px solid yellow;
}

.viewer__pane {
  float: left;
  width: 50%;
  max-height: 100%;
  border: 1px solid red;

  &:first-of-type {
    text-align: right;
  }

  &:last-of-type {
     text-align: left;
  }
}

.viewer__imagewrap {
  background: blue;
  max-height: 100%;
  position: relative;
}

.viewer__aspect {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: bottom;
}

.viewer__image {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
  opacity: .5;
}
