.viewer {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
  @include clearfix;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .16);
  @include transform(translate3d(0,0,0));
  @include animation(popIn 300ms $ease-out-circ);
}

.viewer__navitem {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: $zindex-viewer-navitem;
  background: rgba(#ffffff, .84);
  padding: 34px;
  z-index: 3000;

  opacity: 0;
  @include transform(translate3d(0,0,0));
  @include transition(opacity 300ms ease-in-out);

  .is-interacted & { opacity: 1; }

  i {
    @include transition(opacity 300ms ease-in-out);
    opacity: .5;
    @extend %absolute-center;
  }

  &:hover i { opacity: .75; }
  &:active i { @include transform(translateY(1px)); }
}

.viewer__navitem--left, .viewer__navitem--right {
  @extend .viewer__navitem;
}

.viewer__navitem--left {
  left: 0;
  @include border-left-radius(20px);
}

.viewer__navitem--right {
  right: 0;
  @include border-right-radius(20px);
}

.viewer__pane {
  float: left;
  width: 50%;
  max-height: 100%;

  &:first-of-type {
    text-align: right;
  }

  &:last-of-type {
    text-align: left;
  }
}

.viewer__imagewrap {
  max-height: 100%;
  position: relative;
}

.viewer__aspect {
  max-height: 100%;
  max-height: 100vh;
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: bottom;
  position: relative;
  z-index: 2000;

  .viewer__pane:first-of-type & {
    @include background-image(linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.05) 85%, rgba(0,0,0,.05) 100%));
  }

  .viewer__pane:last-of-type & {
    @include background-image(linear-gradient(left, rgba(0,0,0,.01) 0%, rgba(255,255,255,.0) 10%, rgba(255,255,255,.0) 100%));
  }
}

.viewer__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
  z-index: $zindex-viewer-image;
  overflow: hidden;

  opacity: 1;
  @include transition(opacity 300ms ease-out);
  &.is-loading { opacity: 0; }

  .viewer__pane:first-of-type & { @include border-left-radius(20px); }
  .viewer__pane:last-of-type  & { @include border-right-radius(20px); }
}
