<h1 class="digitize-header">
  Your notebook, Your choice <br>
  <small>What would you like us to do after digitization?</small>
</h1>
<div class="l-digitize-step">
  <form class="form">
    <div class="form__radiogroup">
      {{#radiogroup name="handleMethod" value=controller.handleMethod}}
        {{#each radioContent}}
          <div class="form__radio">
            <label class="form__radio__labelwrap">
              {{radio value=value class="form__radio__input"}}
              <div class="form__radio__label">{{label}}</div>
              <div class="form__radio__custominput">
                <span></span>
              </div>
            </label>
          </div>
        {{/each}}
      {{/radiogroup}}
    </div>
    <div class="form__actions--digitize">
      <button class="button--text" {{action 'advance'}}>Next</button>
    </div>
  </form>
</div>
