<form class="l-guest-form clearform">
  {{loginErrorMessage}}
  {{view Ember.TextField valueBinding='identification' placeholder='Email'}}
  <hr/>
  {{view Ember.TextField type='password' valueBinding='password' placeholder='Password'}}
  {{spin-button isLoading=isLoading buttonText=buttonText action="login" class="clearform__button" }}
</form>
