<form {{action login on='submit'}} class="clearform">
  {{loginErrorMessage}}
  {{view Ember.TextField valueBinding='identification' placeholder='Email'}}
  <hr/>
  {{view Ember.TextField type='password' valueBinding='password' placeholder='Password'}}
  <button type="submit" class="clearform__button">Login</button>
</form>
