<!DOCTYPE html>
<html>
<head>
  <title>Mod</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "http://fast.fonts.net/cssapi/e792a0f8-7d5f-454a-83f8-cfc683cc5a2e.css" %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>


<main class="l-app-main">
  <div class="viewer">
    <div class="viewer__page--left">
      <img class="viewer__page__image" src="http://f.cl.ly/items/3D1f0H460D0H28371h3Q/9ea6b6b6-6887-4bd0-a9d7-9824ec9d37ef.png">
    </div>
    <div class="viewer__page--right">
      <img class="viewer__page__image" src="http://f.cl.ly/items/3D1f0H460D0H28371h3Q/9ea6b6b6-6887-4bd0-a9d7-9824ec9d37ef.png">
    </div>
    <nav class="viewer__nav">
      <ul class="viewer__navlist">
        <li class="viewer__navitem--prev">
          <a href="javascript:void(0)">Prev</a>
        </li>
        <li class="viewer__navitem--back">
          <a href="javascript:void(0)">Back</a>
        </li>
        <li class="viewer__navitem--next">
          <a href="javascript:void(0)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</main>

<!-- <section class="l-settings">
  <aside class="l-settings-menu">
    <nav class="settingsnav">
      <ul class="settingsnav__list">
        <li class="setttingsnav__item">
          <a href="javascript:void(0);" class="settingsnav__link">
            <div class="settingsnav__linkicon">
              <i class="i-settings-account"></i>
            </div>
            <div class="settingsnav__linklabel">Account</div>
          </a>
        </li>
        <li class="setttingsnav__item">
          <a href="javascript:void(0);" class="settingsnav__link">
            <div class="settingsnav__linkicon">
              <i class="i-settings-address"></i>
            </div>
            <div class="settingsnav__linklabel">Shipping Address</div>
          </a>
        </li>
        <li class="setttingsnav__item">
          <a href="javascript:void(0);" class="settingsnav__link">
            <div class="settingsnav__linkicon">
              <i class="i-settings-sync"></i>
            </div>
            <div class="settingsnav__linklabel">Sync</div>
          </a>
        </li>
        <li class="setttingsnav__item">
          <a href="javascript:void(0);" class="settingsnav__link is-active">
            <div class="settingsnav__linkicon">
              <i class="i-settings-logout"></i>
            </div>
            <div class="settingsnav__linklabel">Logout</div>
          </a>
        </li>
      </ul>
    </nav>
  </aside>
  <section class="l-settings-content">
    <div class="l-settings-pane">
      <form>
        <div class="form__control">
          <input type="text" placeholder="Full Name">
        </div>
        <div class="form__control">
          <input type="text" placeholder="Address">
        </div>
        <div class="form__control--twothird">
          <input type="text" placeholder="State">
        </div>
        <div class="form__control--onethird">
          <input type="text" placeholder="Postal Code">
        </div>
        <div class="clearfix"></div>
        <div class="form__control">
          <input type="text" placeholder="Country">
        </div>
        <div class="form__actions">
          <button type="submit" class="button--medium">Save</button>
        </div>
      </form>
    </div>
  </section>
</section> -->

<!-- <main class="l-guest-main">
  <header class="l-guest-header">
    <div class="l-guest-header-left">Not a member?</div>
    <a class="button--guest-header" href="#">Sign Up</a>
  </header>
  <section class="l-guest-content">
    <div class="l-guest-innercontent">
      <a class="logo--guest" href="#"></a>
      <form class="l-guest-form clearform">
        <hr/>
        <input type="text" placeholder="Email"/>
        <hr/>
        <input type="text" placeholder="Password"/>
        <hr/>
        <input type="text" placeholder="Password"/>
        <button class="clearform__button">Login</button>
      </form>
    </div>
  </section>
</main> -->


</body>
</html>
