<% content_for(:header) do %>
  <div class="l-header-button">
    <a href="<%= partner_notebooks_path %>" class="header-button">
      <i class="i-hamburger"></i>
    </a>
  </div>
  <div class="l-header-body"></div>
<% end %>
