<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
</head>
<body>
  <div id="main"></div>
  <div id="settings"></div>

<!--   <div class="l-touch-viewer touchviewer">
    <div class="touchviewer__pages">
      <div class="touchviewer__panewrap">
        <div class="touchviewer__pane">
          <img class="touchviewer__pane__image" src="http://f.cl.ly/items/3D1f0H460D0H28371h3Q/9ea6b6b6-6887-4bd0-a9d7-9824ec9d37ef.png">
        </div>
      </div>
    </div>

    <div class="l-touch-viewer-menu">
      <nav class="touchviewer__nav">
        <a href="" class="touchviewer__navitem">1</a>
        <a href="" class="touchviewer__navitem--middle">2</a>
        <a href="" class="touchviewer__navitem">3</a>
      </nav>
    </div>
  </div> -->

  <%= cdn_jquery %>
  <%= javascript_include_tag "application" %>
</body>
</html>
