<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
</head>
<body>
  <div id="main"></div>
  <div id="settings"></div>

  <%= cdn_jquery %>
  <%= javascript_include_tag "application" %>
</body>
</html>
