<!DOCTYPE html>
<html>
<head>
  <title>Mod</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>

  <%= javascript_include_tag "application" %>

  <script type="text/x-handlebars">
    {{#if session.isAuthenticated}}
      <a {{ action 'logout' }}>Logout</a>
    {{else}}
      <a {{ action 'login' }}>Login</a>
    {{/if}}

    {{outlet}}
  </script>

</body>
</html>
